<template name="checkname">
    <div id="checkname" class="fullwidth-container text-center">
        <div class="center">
            <img id="logo" src="/img/logo.png">
            <div class="checkname">
                <input id="userName" name="userName" class="text-center col-lg-8 col-md-8 col-dm-12 col-xs-12" type="text" placeholder='{{_ "check_name" }}'>
                <span class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></span>
                <a href="/registerProfile" class="btn-white text-center col-lg-3 col-md-3 col-sm-12 col-xs-12">{{_ "submit" }}</a>
            </div>
        </div>
    </div>
</template>
