<template name="registerDog">
  <div id="registerDog">
    <header class="row navbar navbar-default nav-light text-center" role="navigation" style="padding-top:10px;">
        <span class="org text-center width-100" style="padding-left: 5%; font-size: 25px; padding-top: 0px;">{{_ "pet_info" }}</span>
    </header>
    <div class="wrapper text-center">
        <div class="container">
            <div class="m-top-20 container">
                <div class="row">
                    <div class="row text-center">
                      <img src="/img/logo-t.png" alt="Logo" class="logo">
                    </div>
                </div>
            </div>
            <div class="container-cover" style="padding-top:30px;">
                {{> SubmitDog}}
            </div>
        </div>
    </div>
  </div>
</template>
