<template name="registerPetsSpecies">
  <div id="registerPetsSpecies">
    <header class="row navbar navbar-default nav-light text-center" role="navigation" style="padding-top:10px;">
        <span class="org text-center width-100" style="padding-left: 5%; font-size: 25px; padding-top: 0px">{{_ "pet_type" }}</span>
    </header>
    <div class="wrapper text-center">
        <div class="container">
            <!-- <div class="container m-top-20">
                <div class="row text-center">
                  <img src="/img/logo-t.png" alt="Logo" class="logo">
                </div>
            </div> -->
            <div class="row text-center m-top-20">
                <div class="row margin-bottom-20 p-left-15 p-right-15">
                    <div class="col-md-12 col-sm-12 text-center">
                        <a href="/registerDog" class="a-spe">
                            <img id="img-dog" src="/img/dog.jpg"/>
                            <h3 class="type-center">{{_ "dog" }}</h3>
                        </a>
                    </div>
                    <div class="col-md-12 col-sm-12 text-center">
                        <a href="/registerCat" class="a-spe">
                            <img id="img-cat" src="/img/cat.jpg" />
                            <h3 class="type-center">{{_ "cat" }}</h3>
                        </a>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <a href="/registerOthers" class="a-spe">
                            <img id="img-others" src="/img/all.png"/>
                            <h3 class="type-center">{{_ "other" }}</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</template>
