<template name="registerProfileCont">
  <div id="registerProfileCont">
    <header class="row navbar navbar-default nav-light text-center" role="navigation" style="padding-top:10px;">
        <span class="org text-center width-100" style="padding-left: 5%; font-size: 25px; padding-top: 0px;">{{_ "customer_information" }}</span>
    </header>
    <div class="wrapper">
        <div class="container">
          <div class="container m-top-20">
            <div class="row text-center">
              <img src="/img/logo-t.png" alt="Logo" class="logo" >
            </div>
          </div>
            <div class="row">
                {{> SubmitProfileCont}}
            </div>
        </div>
    </div>
  </div>
</template>
