<template name="SubmitUserId">
  <form class="main form-page">
    <div class="row m-top-40 m-bottom-20">
      <div class="width-30">
          <span class="input-group-addon no-border text-left gray-h">{{_ "employee_id" }}<i class="required">*</i></span>
      </div>
      <div class="width-70">
          <input required name="eid" type="text" class="input-control width-100" placeholder="" value="">
      </div>
    </div>
    <div class="row m-bottom-20">
      <div class="width-30">
        <span class="input-group-addon no-border text-left gray-h">{{_ "password" }}</span>
      </div>
      <div class="width-70">
        <input required name="password" type="text" class="input-control width-100">
      </div>
    </div>
    <div class="row m-bottom-20">
      <div class="width-30">
        <span class="input-group-addon no-border text-left gray-h">{{_ "user_id" }}</span>
      </div>
      <div class="width-70">
        <input required name="userId" type="text" class="input-control width-100">
      </div>
    </div>
  </form>
</template>
