<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Create New Contact">
  <ion-nav-buttons side="right">
    <button class="ion-android-done button button-clear button-calm" ng-click="add()">
    </button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input">
        <span class="input-label" style="width:100px;">Name</span>
        <input required
               type="text"
               ng-model="contact.name">
      </label>
      <label class="item item-input">
        <span class="input-label" style="width:100px;">Phone</span>
        <input required
               type="tel"
               ng-model="contact.phone">
      </label>
      <label class="item item-input">
        <span class="input-label" style="width:100px;">E-mail</span>
        <input required
               type="email"
               ng-model="contact.email"
               placeholder="email@mail.com">
      </label>
      <label class="item item-input">
        <span class="input-label" style="width:100px;">Img url</span>
        <input type="text"
               ng-model="contact.avatar">
        <!-- <input type="file"
               accept="image/*"
               ng-model="contact.avatar"> -->
      </label>
    </div>

    <div class="button-bar">
      <a class="button button-block button-light"
         ng-click="goBack()">Cancel</a>
      <a class="button button-block button-balanced"
         ng-click="add()">Add</a>
    </div>

  </ion-content>
</ion-view>
